ul {
  font-size: 14px;
  color: red; }

ol {
  font-size: 18px;
  color: red; }

/*This file is variables.scss converted into css format
since computers cannot read scss. All that has happened
is the variables '$color' have been replaced with their
value 'red'.*/
